<form [formGroup]="myForm"
>

<input
    type="text" placeholder="Title..."
    formControlName="title"
    >

    <span 
    *ngIf="myForm.controls.title.invalid && myForm.controls.title.dirty
    && myForm.controls.title.errors?.required"
    >Title is required</span>
    <span 
    *ngIf="myForm.controls.title.invalid && myForm.controls.title.dirty
    && myForm.controls.maxLength.errors?.required"
    >Title is required</span>
    <span 
    *ngIf="myForm.controls.title.invalid && myForm.controls.title.dirty
    && myForm.controls.title.errors?.required"
    >Title is required</span>
    
    <input
    type="text" placeholder="Author..."
    formControlName="author"
    >
    
    <span 
    *ngIf="myForm.controls.author.invalid && myForm.controls.author.dirty
    && myForm.controls.title.errors?.requiredh"
    >Author is required</span>
    <input
    type="text" placeholder="Body..."
    formControlName="body"
    >
    
    <span *ngIf="myForm.controls.body.invalid && myForm.controls.body.dirty">Body is required</span>
<input
    type="submit" value="Add Post"
    >


</form>

<p>{{ myForm.value | json }}</p>
<p>{{ myForm.valid | json }}</p>
<p>{{ this.myForm.controls.title.errors | json }} </p>