a {
  font-size: xx-large;
  padding: 20px 40px;
  display: block;
  text-align: center;
  background: cornflowerblue;
  border: rgb(20, 103, 255) 2px solid;
  text-decoration: none;
  color: white;

}