.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

form {
  width: 60vw;
  max-width: 1000px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: stretch;
  /* border: 1px solid black; */
  padding: 30px;

}

input {
  line-height: 30px;
  font-size: x-large;
  padding: 20px;
  background-color: rgba(64, 87, 79, 0.301);
  border: none;
  border-radius: 3px;
  outline: none;
} 

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

span {
  color: red;
  
}

.invalid {
  border-bottom: 2px solid red;
}

