<div class="container">

  <form [formGroup]="myForm" (ngSubmit)="_data.login(myForm.value.username, myForm.value.password)">



    <div class="control">
      <input [ngClass]="{'invalid':myForm.controls.username.dirty && myForm.controls.username.invalid }" type="text" placeholder="username" formControlName="username">
      <span *ngIf="myForm.controls.username.dirty && myForm.controls.username.invalid">Username is required</span>
    </div>

    <div class="control">
      <input [ngClass]="{'invalid':myForm.controls.password.dirty && myForm.controls.password.invalid }" type="password" placeholder="password" formControlName="password">
      <span *ngIf="myForm.controls.password.dirty && myForm.controls.password.invalid">password is required</span>
    </div>
    <input type="submit" value="Login">
  </form>
  <!-- <p>{{myForm.value | json}}</p> -->
</div>
