/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
=======

body {
  margin: 0;
  height: 100vh;
  background-color: blanchedalmond;
}

* {
  margin: 0;
}
>>>>>>> 6b8c2c55ba32db642eb5fccb6b9b283b62657eb7
